.text-eqqus {
    color: #f5811d !important;
}

.btn-eqqus {
    background-color:  #f5811d  !important;
color: white;
    
}

.btn-eqqus:hover {
    background-color:  #d16e18  !important;

    
}

#header img {
    width: 80px;
}

#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel {
    position: relative;
}

#carousel .overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
height: 100%;
}

.speakers img{
    width: 18rem;
    height: 18rem;
    object-fit: cover;
 }


#footer {
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}

#footer a {
    color: white;
}